Ai/NLP/GenerateDataSet/*.xlsx

Ai/NLP/GenerateDataSet/*.csv
Ai/Agent/*.pdf
Ai/Agent/*.aux
Ai/Agent/*.log
Ai/Agent/*.tex
Ai/Agent/*.out
Ai/Agent/output2.log
node_modules/
venv/
*.so
*.pyc
__pycache__/
.env/

# Video files
*.mpd

# Uploaded videos directory
uploaded_videos/

# IDE specific files
.idea/
.vscode/
*.swp
