Ai/NLP/GenerateDataSet/*.xlsx

Ai/NLP/GenerateDataSet/*.csv
Ai/Agent/*.pdf
Ai/Agent/*.aux
Ai/Agent/*.log
Ai/Agent/*.tex
Ai/Agent/*.out
Ai/Agent/output2.log
node_modules/
venv/
*.so
*.pyc
__pycache__/
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-15 at 8.05.44 PM.mp4
