Ai/NLP/GenerateDataSet/*.xlsx
Ai/NLP/__pycache__/RAG.cpython-312.pyc
Ai/NLP/GenerateDataSet/*.csv
Ai/Agent/*.pdf
Ai/Agent/*.aux
Ai/Agent/*.log
Ai/Agent/*.tex
Ai/Agent/*.out
Ai/Agent/output2.log
node_modules/
venv/
*.so
*.pyc
__pycache__/
Ai/Agent/config.yaml
Ai/NLP/config.yaml
Ai/NLP/Agent\config.yaml
Ai/NLP/GenerateDataSet\config.yaml
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-15 at 8.05.44 PM.mp4
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-16 at 4.26.56 PM.mp4
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-16 at 4.32.52 PM.mp4
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-16 at 5.39.39 PM.mp4
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-16 at 5.47.07 PM.mp4
Ai/cv-upload/__pycache__/main.cpython-310.pyc
Ai/cv-upload/__pycache__/curls.cpython-310.pyc
Ai/cv-upload/__pycache__/curls.cpython-310.pyc
Ai/cv-upload/__pycache__/main.cpython-312.pyc
Ai/cv-upload/__pycache__/main.cpython-312.pyc
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-16 at 6.00.12 PM.mp4
Ai/cv-upload/__pycache__/main.cpython-312.pyc
Ai/cv-upload/__pycache__/main.cpython-312.pyc
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-16 at 8.14.04 PM.mp4
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-16 at 8.23.51 PM.mp4
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-16 at 8.24.08 PM.mp4
Ai/cv-upload/__pycache__/main.cpython-312.pyc
Ai/cv-upload/uploaded_videos/pull-up-correct-2.mp4
Ai/cv-upload/uploaded_videos/pull-up-correct.mp4
Ai/cv-upload/__pycache__/main.cpython-312.pyc
Ai/cv-upload/uploaded_videos/pull-up-correct-5.mp4
Ai/cv-upload/uploaded_videos/pull-up-correct-3.mp4
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-18 at 6.40.48 PM.mp4
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-18 at 6.29.52 PM.mp4
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-18 at 6.21.04 PM.mp4
Ai/cv-upload/uploaded_videos/pull-up-correct-4.mp4
Ai/cv-upload/__pycache__/main.cpython-312.pyc
Ai/cv-upload/uploaded_videos/WhatsApp Video 2025-06-18 at 7.18.13 PM.mp4