<div class="homePage-container bg-brand-black font-family-brand">
    <div class="header FLEX justify-space-between align-center">
        <div class="logo">FLEXAI</div>
        <nav class="bg-brand-grey">
            <ul class="FLEX justify-space-between">
                <li><a href="#" class="brand-dark-green">Home</a></li>
                <li><a href="#" class="brand-dark-green">Programs</a></li>
                <li><a href="#" class="brand-dark-green">FLEXAI</a></li>
                <li><a href="#" class="brand-dark-green">About</a></li>
            </ul>
        </nav>
    </div>

    <div class="video-container">
        <h1 class="brand-light-green font-size-50">Personal Trainer, <span class="white">without real trainer</span>
        </h1>
    </div>
    <main class="text-align-center">
        <h2 class="brand-light-green font-size-36">Feel confident everytime you train.</h2>
        <p class="brand-light-green font-size-16">Your Virtual Trainer tracks and guides each session, so you will know
            your ideal plan to reach your goals</p>
        <div class="cards-container FLEX justify-space-between">
            <div class="card bg-brand-light-green">
                <img src="/assets/images/strength.png" alt="strength-icon">
                <h4 class="card-title brand-black font-size-20 font-weight-bold">Strength</h4>
                <p class="font-size-16">Embrace the essence of strength as we delve into its various dimensions
                    physical, mental, and
                    emotional.</p>
            </div>

            <div class="card bg-brand-light-green">
                <img src="/assets/images/noFat.png" alt="noFat-icon">
                <h4 class="card-title brand-black font-size-20 font-weight-bold">Fat Lose</h4>
                <p class="font-size-16">Through a combination of workout routines and expert guidance, we'll empower you
                    to reach your goals.
                </p>
            </div>

            <div class="card bg-brand-light-green">
                <img src="/assets/images/gainWeight.png" alt="gainWeight">
                <h4 class="card-title brand-black font-size-20 font-weight-bold">Gain Weight</h4>
                <p class="font-size-16">Designed for individuals, our program offers an effective approach to gaining
                    weight in a sustainable
                    manner.</p>
            </div>
        </div>
    </main>

    <footer class="bg-brand-dark-green brand-light-green">
        <div class="upper-container FLEX justify-space-between align-center">
            <div class="logo white">FLEXAI</div>
            <div class="contactUs">
                <h3>Contact Us</h3>
                <ul>
                    <li>How it works</li>
                    <li>Pricing</li>
                    <li>Docs</li>
                </ul>
            </div>
            <div class="partners">
                <h3>Partners</h3>
                <ul>
                    <li>Belal Essam Abdelraof</li>
                    <li>Hossam Tarek Elsayed</li>
                    <li>Amgad Sherif Abdelrahman</li>
                    <li>Zeina Hesham Ahmed</li>
                    <li>Salma Waleed Ismail</li>
                </ul>
            </div>
            <div class="about">
                <h3>About</h3>
                <ul>
                    <li>Terms & Conditions</li>
                    <li>Privacy Policy</li>
                    <li>
                        <div class="social-media-container FLEX justify-space-between">
                            <img src="/assets/images/twitter-icon.svg" alt="twitter-icon">
                            <img src="/assets/images/linkedin-icon.svg" alt="linkedin-icon">
                            <img src="/assets/images/facebook-icon.svg" alt="facebook-icon">
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <hr>
        <div class="lower-container text-align-center">
            <p>© 2025 FLEXAI. All rights reserved.</p>
        </div>
    </footer>

</div>