<div [class.sign-up-mode]="isSignUpMode" class="container font-family-brand">
    <div class="forms-container">
        <div class="signin-signup">
            <form #loginForm="ngForm" action="#" class="sign-in-form  FLEX-COL center-content">
                <h2 class="title brand-light-green">Sign In</h2>

                <!-- Username Field -->
                <div
                    class="max-w-[380px] w-full bg-gray-100 my-5 h-[55px] rounded-full grid grid-cols-[15%,85%] px-1 relative mb-7">
                    <!-- Icon -->
                    <i class="fas fa-user text-center leading-[55px] text-gray-400 transition duration-500 text-lg"></i>

                    <!-- Input Field -->
                    <input type="text" id="username" placeholder=" " name="username" [(ngModel)]="userLogin.name"
                        required #username="ngModel"
                        class="bg-transparent outline-none border-none leading-none font-semibold text-lg text-gray-800 peer" />

                    <!-- Floating Label -->
                    <label for="username"
                        class="absolute left-[15%] top-1/2 transform -translate-y-1/2 text-lg text-gray-400 transition-all duration-200 ease-in-out peer-focus:top-2 peer-focus:text-sm peer-focus:text-brand-dark-green peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-[:not(:placeholder-shown)]:top-2 peer-[:not(:placeholder-shown)]:text-sm peer-[:not(:placeholder-shown)]:text-gray-400">
                        Username
                    </label>

                    <!-- Error Message -->
                    <div *ngIf="username.invalid && username.touched"
                        class="error-message flex items-center mt-2 text-red-500">
                        <i class="fa-solid fa-circle-exclamation fa-shake fa-lg mr-2"></i>
                        Username is required!
                    </div>
                </div>

                <!-- Password Field -->
                <div
                    class="max-w-[380px] w-full bg-gray-100 my-5 h-[55px] rounded-full grid grid-cols-[15%,85%] px-1 relative mb-7">
                    <!-- Icon -->
                    <i class="fas fa-lock text-center leading-[55px] text-gray-400 transition duration-500 text-lg"></i>

                    <!-- Input Field -->
                    <input type="password" id="password" placeholder=" " name="password"
                        [(ngModel)]="userLogin.password" required #password="ngModel"
                        class="bg-transparent outline-none border-none leading-none font-semibold text-lg text-gray-800 peer" />

                    <!-- Floating Label -->
                    <label for="password"
                        class="absolute left-[15%] top-1/2 transform -translate-y-1/2 text-lg text-gray-400 transition-all duration-200 ease-in-out peer-focus:top-2 peer-focus:text-sm peer-focus:text-brand-dark-green peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-[:not(:placeholder-shown)]:top-2 peer-[:not(:placeholder-shown)]:text-sm peer-[:not(:placeholder-shown)]:text-gray-400">
                        Password
                    </label>

                    <!-- Error Message -->
                    <div *ngIf="password.invalid && password.touched"
                        class="error-message flex items-center mt-2 text-red-500">
                        <i class="fa-solid fa-circle-exclamation fa-shake fa-lg mr-2"></i>
                        Password is required!
                    </div>
                </div>

                <!-- Submit Button -->
                <input type="submit" value="Login" class="btn solid" (click)="loginUser(loginForm)"
                    [disabled]="loginForm.invalid" />

                <!-- Social Media -->
                <p class="social-text brand-light-green">Or Sign in with social platforms</p>
                <div class="social-media FLEX justify-center">
                    <a href="#" class="social-icon FLEX center-content">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon FLEX center-content">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon FLEX center-content">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon FLEX center-content">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>
            <app-signup-form [SignUpEvent]="SignUpEvent" [attempingSignUp]="attempingSignUp" ></app-signup-form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel FLEX-COL text-align-center">
            <div class="content brand-light-green">
                <h3>New here ?</h3>
                <p>
                    Embark on your journey to a healthier, happier YOU <br>
                    Why wait? Begin your journey now!
                </p>
                <button class="btn transparent" id="sign-up-btn" (click)="onSignUpClick()">
                    Sign up
                </button>
                <!--    <img src="/assets/images/login.svg" class="image" alt="" /> -->
            </div>
        </div>
        <div class="panel right-panel FLEX-COL text-align-center">
            <div class="content brand-light-green">
                <h3>One of us ?</h3>
                <p>
                    Good to see you again! Ready to pick up where you left off?
                </p>
                <button class="btn transparent" id="sign-in-btn" (click)="onSignInClick()">
                    Sign in
                </button>
            </div>
            <img src="/assets/images/login.svg" class="image" alt="" />
        </div>
    </div>
</div>