.login-container {
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    background: url("/assets/images/background.png") no-repeat center center / cover;


    .login-part {
        width: 75%;
    }

    .forgetPass-part {
        width: 75%;

        img {
            height: 24px;
            width: 24px;
            margin-bottom: 15px;
        }
    }

    form {
        width: 100%;

        label,
        a {
            margin-bottom: 15px;
        }
    }
}