
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/*------------------------------------------Sharable Styles------------------------------------------*/


@import '@fortawesome/fontawesome-free/css/all.min.css';

@import'../public/assets/sharable/globals';
@import'../public/assets/sharable/variables';
@import'../public/assets/sharable/colors';
@import'../public/assets/sharable/typograpghy';




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
